# Ignorar configurações sensíveis
appsettings.Development.json

# Pastas e arquivos comuns do .NET
bin/
obj/

# Configurações do Visual Studio/VS Code
.vscode/
*.user
*.suo

# Logs
*.log
